@model BaseballLeague.UI.Models.AddPlayerViewModel
@{
    ViewBag.Title = "AddPlayer";
}

<h2 class="padding-top-20">ÌADD'PLAYERÍ</h2>

<div class="container">
        <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <br />
                    @using (Html.BeginForm("AddPlayer", "Player", FormMethod.Post))
            {

                        <div class="row">
                            <div class="col-md-6 form-group">
                                <h6> Player Name</h6>
                                <p>@Html.TextBoxFor(m => m.player.PlayerName, null, new { style = "width: ", placeholder = "Name" })</p>
                            </div>
                            <div class="col-md-6 form-group">
                                <h6> Jersey Number</h6>
                                <p>@Html.TextBoxFor(m => m.player.JerseyNumber, null, new { style = "width: ", placeholder = "Jersey" })</p>
                            </div>
                            <div class="col-md-6 form-group">
                                <h6> Batting Average</h6>
                                <p>@Html.TextBoxFor(m => m.player.BattingAverage, null, new { style = "width: ", placeholder = "Average" })</p>
                            </div>
                            <div class="col-md-6 form-group">
                                <h6> Years Played</h6>
                                <p>@Html.TextBoxFor(m => m.player.YearsPlayed, null, new { style = "width: ", placeholder = "Years" })</p>
                            </div>



                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <h6> Position </h6>
                                    <p> @Html.DropDownListFor(m => m.player.Position.PositionID, Model.PositionList, "Choose a position", new { @class = "form-control" })</p>
                                </div>
                                <div class="col-md-6 form-group">
                                    <h6> Team </h6>
                                    <p> @Html.DropDownListFor(m => m.player.Team.TeamID, Model.TeamList, "Choose a Team", new { @class = "form-control" })</p>
                                </div>

                            </div>
                            <div>
                                <br />
                                <br />

                                <div class="col-center-block">
                                    <button class="btn btn-primary"> Add Player</button>
                                </div>

                            </div>
                        </div>
                    }
                </div>
            </div>
    </div>