@model BaseballLeague.UI.Models.TeamPlayersVM

@{
    ViewBag.Title = "Index";
}

<h2>ÌPLAYERSÍ</h2>

@*<<<<<<< HEAD
<div class="row">
    <div class="panel-heading">
        <table style="width:100%">
            <tr>
                <th>Player Name</th>
                <th>Number</th>
                <th>Position</th>
                <th>Years Played</th>
                <th>Batting Avg.</th>
            </tr>
            
            @foreach (var player in Model.Players)
            {
                <tr>
                    <td>@player.PlayerName</td>
                    <td>@player.JerseyNumber</td>
                    <td>@player.Position.PositionName</td>
                    <td>@player.YearsPlayed</td>
                    <td>@player.BattingAverage</td>

                </tr>
            }
        </table>
=======*@
<div class="container">
    <h3 class="padding-top-20 margin-left-10"> @Model.TeamName Players</h3>
    <div class="container">
    </div>
    <ul class="list">
        @foreach (var player in Model.Players)
        {
            <li class="list-no-style">
                <div class="no-container">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <div class="row margin-top-10">

                                <div class="col-sm-3 margin-top-35 margin-left-10 hidden-sm hidden-xs">
                                    <p>Player Name</p>
                                    <p>@player.PlayerName</p>
                                </div>
                                <div class="col-sm-3 margin-top-35 hidden-sm hidden-xs">
                                    <p>Number</p>
                                    <p>@player.JerseyNumber</p>
                                </div>
                                <div class="col-sm-3 margin-top-35 hidden-sm hidden-xs">
                                    <p>Position</p>
                                    <p>@player.Position.PositionName</p>
                                </div>
                                <div class="col-sm-3 margin-top-35 hidden-sm hidden-xs">
                                    <p>Batting Avg.</p>
                                    <p>@player.BattingAverage</p>
                                </div>
                                <div class="col-sm-3 margin-top-35 hidden-sm hidden-xs">
                                    <p>Years Played</p>
                                    <p>@player.YearsPlayed</p>
                                </div>
                                @*<div class="col-sm-1 margin-top-35 hidden-sm hidden-xs">
                                        <p>@Team.TeamID</p>
                                    </div>*@

                                @*//Button to go to a list of players for the team clicked*@
                                <div class="col-md-4 col-xs-12">
                                    <div class="col-xs-6">
                                        @using (Html.BeginForm("Index", "Team", null, FormMethod.Post))
                                        {
                                            @*@Html.Hidden("TeamID", team.TeamID)*@
                                            <button id="details" class="btn btn-primary btn-block">Teams Page</button>
                                        }
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>

    <div class="col-md-4 col-xs-12">
        <div class="col-xs-6">
            @using (Html.BeginForm("AddPlayer", "Player", null, FormMethod.Get))
            {
                
                <button id="details" class="btn btn-success btn-block">Add Player</button>
            }
        </div>
    </div>
</div>
