@model BaseballLeague.Models.Player

@{
    ViewBag.Title = "PlayerDetails";
}

<h2>ÌNEW'PLAYERÍ</h2>


@*@Model.PlayerName
@Model.JerseyNumber
@Model.Position.PositionName
@Model.YearsPlayed
@Model.BattingAverage*@
<div class="container col-center-block">
    <h3>@Model.Team.TeamName</h3>
    <div class="row">
        <div class="col-md-10"></div>
        <div class="panel panel-default">

            <div class="row margin-top-10">

                <div class="col-sm-3 margin-top-35 padding-left-20">
                    <p>Player Name</p>
                    <p>@Model.PlayerName</p>
                </div>
                <div class="col-sm-3 margin-top-35">
                    <p>Number</p>
                    <p>@Model.JerseyNumber</p>
                </div>
                <div class="col-sm-3 margin-top-35 hidden-sm hidden-xs">
                    <p>Position</p>
                    <p>@Model.Position.PositionName</p>
                </div>
                <div class="col-sm-3 margin-top-35 hidden-sm hidden-xs">
                    <p>Batting Avg.</p>
                    <p>@Model.BattingAverage</p>
                </div>
                <div class="col-sm-3 margin-top-35 padding-left-20">
                    <p>Years Played</p>
                    <p>@Model.YearsPlayed</p>
                </div>
            </div>
        </div>
    </div>
</div>