@using System.Web.UI.WebControls
@model BaseballLeague.UI.Models.TeamVM

@{
    ViewBag.Title = "AddTeam";
}

<h2>ÌADD'TEAMÍ</h2>

<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            @using (Html.BeginForm("AddTeam", "Team", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-md-6">
                            <p>@Html.LabelFor(m => m.Team.TeamName)</p>
                            <p>@Html.TextBoxFor(m => m.Team.TeamName, new { style = "width:100%", placeholder = "Bulls" })</p>
                        </div>
                        <div class="col-md-6">
                            <p>@Html.LabelFor(m => m.Team.Manager)</p>
                            <p>@Html.TextBoxFor(m => m.Team.Manager, new { style = "width:100%", placeholder = "Manager" })</p>
                        </div>
                        <div class="col-md-6">
                            <p>@Html.LabelFor(m => m.Team.League.LeagueName)</p>
                            <p>@Html.TextBoxFor(m => m.Team.League.LeagueName, new { style = "width:100%", placeholder = "League" })</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" value="Create" class="btn btn-primary"/>
                            <button class="btn btn-warning">
                                @Html.ActionLink("Back To List", "Index", "Team", new {style = "color: white; text-decoration: none;"})
                            </button>
                        </div>
                    </div>
                </div>
            }

            <div>
<<<<<<< HEAD

                

=======
                @Html.ActionLink("Back to List", "Index", new {@class = "btn btn-danger"})
>>>>>>> 1dc094a0e75b595afbe88bc182f007d8b9661907
            </div>
            </div>
        </div>
    </div>
            <script src="~/Scripts/jquery-1.10.2.min.js"></script>
            <script src="~/Scripts/jquery.validate.min.js"></script>
            <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
